<!doctype html>
<html lang="en" layout:decorate="~{layout}">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Listado de estaciones</title>
    </head>
    <body>
        <div layout:fragment="content" class="container">
            <table class="table  table-striped">
                <thead class="thead-dark">
                    <tr class="row">
                        <th class="col-xl-4">Nombre</th>
                        <th class="col-xl-4">Ayuntamiento</th>
                        <th class="col-xl-3">Provincia</th>
                        <th class="col-xl-1"><a class="btn btn-light" th:href="@{/estacion/nueva}"><i class="fa fa-plus"></i></a></th>
                    </tr>
                </thead>
                <tbody class="col">
                    <tr class="row" th:each="estacion: ${estacions}">
                        <td class="col-xl-4" th:text="${estacion.getNome()}"/>
                        <td class="col-xl-4" th:text="${estacion.getConcello()}"/>
                        <td class="col-xl-3" th:text="${estacion.getProvincia().getNome()}"/>
                        <td class="col-xl-1">
                            <a th:href="@{'/estacion/' + ${estacion.getId()} + '/detalle'}"><i class="fa fa-pencil"></i></a>
                            <a th:href="@{'/estacion/' + ${estacion.getId()} + '/borrar'}"><i class="fa fa-eraser"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>